{% extends "layout.html" %}
{% load static %}

{% block head_includes %}
  <link rel="stylesheet" href="{% static 'css/cart_style.css' %}" />
  <link rel="stylesheet" href="{% static 'css/save_for_later_section.css' %}" />
{% endblock %}
  
{% block content %}
<div class="container pt-4">
  <div class= "cart">
  <h1 class="mb-3">Shopping Cart</h1>
  <div class="shopping-cart">
  <div class="column-labels">
    <label class="product-image">Image</label>
    <label class="product-details">Product</label>
    <label class="product-price">Price</label>
    <label class="product-quantity">Quantity</label>
    <label class="product-removal">Remove</label>
    <label class="product-line-price">Total</label>
  </div>

  {% if not cart %}
  <div class= "No-items-in-cart">
    <h3> Shopping Cart is Empty. Add items to your cart. </h3>
    {% if all_saved_books.count > 0 %}
    <h4> You have items saved for later. You may add those items back to the cart by clicking the "Move to Cart" button next to the item. </h4>
    {% endif %}
  </div>

  {% endif %}

  {% for item in cart %}
      {% with book=item.book %}
  <div class="product">
    <div class="product-image">
      <a href="{% url 'books:detail' book.id %}">
        <img src="{% static book.cover_url %}" class="img-fluid rounded" alt="">
      </a>
    </div>
    <div class="product-details">
      <div class="details mt-2">
        <a class="name d-block" href="{% url 'books:detail' book.id %}">
          <strong>{{ book.title }}</strong>
        </a>
        {% for author in book.author.all|slice:"1" %}
          <a class="author" href="#">{{ author.name }}</a>
        {% endfor %}
      </div>
      <p class="product-description">{{book.description}}</p>
    </div>
    <div class="product-price">{{book.price}}</div>
    <div class="product-quantity">
      <form action="{% url "carts:add" book.id %}" method="post">
        {{ item.update_quantity_form.quantity }}
        {{ item.update_quantity_form.update }}
        <input type="submit" value="Update" id= "Update">
        {% csrf_token %}
      </form>
    </div>
    <div class="product-removal">
    <a href="{% url "carts:cart_remove" book.id %}" >Remove</a >
    </div>
    <div class="num">${{ item.total_price }}</div>

    <div class="save-for-later">
    <a href="{% url "carts:save_for_later" book.id %}" >Save For Later</a >
    </div>
  </div>
      {% endwith %}
  {% endfor %}

  <div class="totals">
    <div class="totals-item">
      <label>Grand Total</label>
      <div class="totals-value" id="cart-subtotal">{{ cart.get_total_price }}</div>
    </div>
  </div>
  <a class="continue btn btn-lg" href="{% url 'home' %}">Continue Shopping</a>
  <a class="checkout btn btn-lg" href="{% url 'purchases:confirm' %}">Confirm and Checkout</a>
  </div>


  <h1 class="mt-5 mb-3"> Saved For Later ({{all_saved_books.count}} items) <h1>
    <div class"items-saved-for-later pb-5">
      {% for saved_book in all_saved_books %}
      <div class="saved_product">
        <div class="saved_product-image pr-3">
          <a href="{% url 'books:detail' saved_book.book.id %}">
            <img src="{% static saved_book.book.cover_url %}" class="img-fluid rounded" alt="">
          </a>
        </div>
        <div class="saved_product-details mb-3">
          <div class="saved_product-title">
            <a class="name d-block" href="{% url 'books:detail' saved_book.book.id %}">
              <strong>{{ saved_book.book.title }}</strong>
            </a>
            {% for author in saved_book.book.author.all|slice:"1" %}
              <a class="author" href="#">{{ author.name }}</a>
            {% endfor %}
          </div>
          <p class="saved_product-description">{{saved_book.book.description}}</p>
        </div>
        <div class="saved-product-removal">
          <a class="btn" href="{% url 'carts:delete_from_saved' saved_book.id %}" >Delete</a >
        </div>
        <div class="move-to-cart">
          <a class="btn" href="{% url 'carts:move_to_cart' saved_book.id %}" >Move to Cart</a >
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}


</html>
