{% extends "layout.html" %}
{% load static %}
{% block title %}{{ book.title }} Details | {{ block.super}} {% endblock %}


{% block content %}
<div class="container pt-4 pb-4">
  <h2 class="text-center mb-4"> {{ author.name }} </h2>
  <div class="row justify-content-md-center">
    <p class="text-center col-sm-9 mb-5"> {{ author.bio }} </p>
  </div>

	<div class="row">
		{% for book in book_list %}
		<div class="col-xs-6 col-sm-6 col-md-3">
			{% include "partials/book.html" %}
		</div>
		{% endfor %}
	</div>
</div>
{% endblock %}
