{% extends "layout.html" %}
{% load static %}
{% block title %}Genres | {{ block.super }}{% endblock %}

{% block content %}
<div class="container">
  <h1 class="text-center" style="padding-top: 25px; padding-bottom: 25px;"> {{ genre.name }} </h1>

  {% if book_list %}
    <div class="row">
    	{% for book in book_list %}
    	<div class="col-xs-6 col-sm-6 col-md-3">
    		{% include "partials/book.html" %}
    	</div>
    	{% endfor %}
    </div>
  {% else %}
    <h6 class="text-center">
      There are no books available in this genre.
    </h6>
  {% endif %}
</div>
{% endblock %}
