{% extends "layout.html" %}
{% load static %}
{% block title %}{% if q %}{{ q }}{% else %}Books{% endif %} | {{ block.super }}{% endblock %}

{% block content %}
<div class="container">
  <h1 style="padding-top: 25px">You searched for: <strong>{{ query }}</strong></h1>

  {% if books %}
    <h5 style="padding-bottom: 25px">Found {{ books|length }} book{{ books|pluralize }}.</h5>
    <div class="row">
    	{% for book in books %}
    	<div class="col-xs-6 col-sm-6 col-md-3">
    		{% include "partials/book.html" %}
    	</div>
    	{% endfor %}
    </div>
  {% else %}
    <h6>
      No books matched your search criteria.
    </h6>
  {% endif %}
</div>
{% endblock %}
