{% extends "layout.html" %}
{% load bootstrap3 %}
{% block title %} {{ user_name }} | Change password {% endblock %}
{% block content %}
	<div class="container">
        <br>
        <br>
        <div class="row justify-content-lg-center">
            <div class="col-lg-6">
                <form method="POST">
                        {% bootstrap_form form %}
                        {% csrf_token %}
                        <div class="form-group">
                            <input class="btn btn-block btn-lg btn-primary submit" type="submit" value="Change password">
                            <div class="btn btn-block btn-lg btn-danger submit"><a href="{% url 'users:profile' user.id %}">Cancel</a></div>
                        </div>
                </form>
            </div>
        </div>
	</div>
{% endblock %}